.color-example
{
    color:aqua
    backround-color beige
    border-color black
    border-width thick
}
.header-example
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: blueviolet;
}
.list-example
{
   list-style-type: decimal-leading-zero;
   color: cornflowerblue;
}
.text-example
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font: capitalize;
    text-decoration: underline;
}
.div-example
{
    background-color: rgb(145, 96, 96);
    border-style: dashed;
}